<div class="data-table">
    <table class="table">
        <thead>
        <th></th>
        <th>TITLE</th>
        <th>EDITION</th>
        <th>PLATFORM</th>
        <th>REGION</th>
        <th>METASCORE</th>
        <th>SHOP</th>
        <th>SHOP RATING</th>
        <th>PRICE</th>
        <th></th>
        </thead>
        <tbody>
        <tr ng-repeat="game in $ctrl.games">
            <td></td>
            <td>{{ game.name }}</td>
            <td>...</td>
            <td>....</td>
            <td>....</td>
            <td>{{ game.rating }}</td>
            <td>....</td>
            <td>......</td>
            <td>.....</td>
            <td><button class="btn btn-shop">SHOP</button></td>
        </tr>
        </tbody>
    </table>
</div>